<div class="mx-8 flex-column justify-content-center gap-4 column-gap-8 text-center line-height-3">
    <div class="my-4" >
        <h1> About Code Colosseum Desktop </h1>
        <p> Code colosseum was developed by Talco Team, an aims to be a user-friendly front-end for Code Colosseum.</p>
        <p> The project is completely open source, and it can be found <a href="https://github.com/TALCo-Team/CodeColosseumDesktop" target="_blank" >here</a>.</p>
        <p> The colosseum icon was provided by <a href="https://icons8.com" target="_blank">Icon8</a>.
        </p>
    </div>
    <button class="my-4" pButton pRipple label="Go back" routerLink="/home"></button>
</div>