.div.cc-create-match-container{
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}
h1{
    margin-top: 60px;
    text-align: center;
    /*width: 378px;
    height: 112px;*/
}
h3{
    text-align: center;
    
}
#lobby-div{
    text-align: center;
 
}
#lobby-span{
    display: inline-block;
    position: relative;
    align-items: center; /*è necessario per centrare il campo*/

}
#lobby{
    height: 56px;
    width: 623px;
}
#password-div{
    text-align: center;

}
#status-div{
    text-align: center;

}
#btnpassword{
    width: 232px;
    height: 36px;
    font-size: 14px;
}
#btnstatus{
    width: 232px;
    height: 36px;
    font-size: 14px;
}
p-inputNumber{
    width: 154;
    height: 45;
}
/*#roshambo-tab{
    background-image: url(../../../assets/images/colosseum-18.png);
}*/