<div class="flex justify-content-center">
    <p>If the form doesn't work correctly, you can fill it in your browser at <a href="https://docs.google.com/forms/d/e/1FAIpQLSeTZrtujHC0z0PLvzdKYx7wiPaDT8_-krppLbPJ7w6mANPHzA/viewform?usp=pp_url&entry.2072421624=Code+Colosseum+Desktop" target="_blank">this</a> link. </p>
    </div>
    <div class="flex justify-content-center" style="width: 100%;">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeTZrtujHC0z0PLvzdKYx7wiPaDT8_-krppLbPJ7w6mANPHzA/viewform?embedded=true" width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Caricamento…</iframe>
</div>
