<div>
<p-scrollPanel a="flex justify-content-center border-round"[style]="{height:'500px'} ">
    <div class="p-3 flex flex-column justify-content-center surface-ground border-round">  
        
        <div *ngFor="let msg of messages" class="message">

            <div *ngIf="msg.sender!='divider'">
                <div [ngClass]="(msg.sender === 'me') ? 'flex justify-content-end' : 'flex justify-content-start'">
                    <div class="m-1 justify-content-end">
                        <div [ngClass]="msg.sender === 'me' ? 'text-right' : 'text-left'">
                            <p>
                                {{msg.sender}}
                            </p>
                        </div>
                        <div [ngClass]="msg.sender === 'me' ? 'p-2 shadow-2 bg-cyan-500 text-white font-bold border-round m-2 flex align-items-center justify-content-center': 
                        msg.sender !== 'server' ? 'p-2 shadow-2 bg-yellow-500 text-white font-bold border-round m-2 flex align-items-center justify-content-center'
                        :'p-2 shadow-2 surface-700 text-white font-bold border-round m-2 flex align-items-center justify-content-center'">
                        {{msg.content}}
                        </div>
                    </div>
                </div> 
                <div [ngClass]="(msg.sender === 'me') ? 'flex justify-content-end' : 'flex justify-content-start'">
                <div class="-m-2" id="{{msg.sender==='me' ? 'tri-me': msg.sender !=='server' ? 'tri-other' : 'tri-server'}}"></div>
                </div>
            </div>

            <div *ngIf="msg.sender=='divider'">
                <div class="divider">{{msg.content}}</div>
            </div>
        </div>
    </div>
</p-scrollPanel>
</div>

