
.cc-gamelist-header {
    text-align: right;
    * {
        margin: 20px;
    }
}


.cc-home-container {
    margin: 0% 10% 0% 10%;
}


.p-scrollpanel {
    p {
        padding: .5rem;
        line-height: 1.5;
        margin: 0;
    }

}