
.cc-gamelist-header {
    text-align: right;
}

.cc-gamelist-header > * {
    margin: 20px;
}

.cc-home-container {
    margin: 120px;
}


.p-scrollpanel {
    p {
        padding: .5rem;
        line-height: 1.5;
        margin: 0;
    }

}