<div class="cc-game-list" style="margin: 0px 40px">
    <p-table [value]="gamelist" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-game>
            <tr>
                <td>
                    <i class="pi pi-check" *ngIf="game.verified"></i>
                </td>
                <td>{{game.id}}</td>
                <td>{{game.game}}</td>
                <td>{{game.players}} / {{game.maxplayers}}</td>
                <td>{{game.spectators}}</td>
                <td>{{game.timeout}}</td>
                <td>{{game.password}}</td>
                <td>
                    <p-tag value="{{game.current ? 'Current':'Past'}}"></p-tag>
                </td>
                <td>
                    <p-button label="Play" icon="pi pi-play" iconPos="left"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>