<div class="cc-center-layout">
  <div class="card" className="cc-card">
    <h1 style="text-align: center">Welcome to Code Colosseum.</h1> 
    <div class="fromgrid grid" className="cc-grid">
        <div class="field col-12">
          <span class="p-float-label">
            <input type="text" id="server-url" class="text-base text-color surface-overlay p-2 border-solid surface-border border-round appearance-none focus:border-primary w-full" pInputText/>
            <label for="server-url">Server URL</label>
          </span>
        </div>
        <div class="field col-12 md:col-6">
          <span class="p-float-label">
            <input type="text" id="username" class="text-base text-color surface-overlay p-2 border-solid surface-border border-round appearance-none focus:border-primary w-full" pInputText/>
            <label for="username">Username</label>
          </span>
        </div>
        <div class="field col-12 md:col-6">
          <span class="p-float-label">
            <input type="password" id="password"class="text-base text-color surface-overlay p-2 border-solid surface-border border-round appearance-none focus:border-primary w-full" pPassword/>
            <label for="password">Password</label>
          </span>
        </div>
        <div class="field col-12">
          <button pButton type="button" label="CONNECT" class="border-round  w-full"></button>
        </div>
    </div> 
  </div>
</div>