<div class="cc-column-layout">

    <div class="cc-error-404" *ngIf="(game===null)"  >
        <h2> It looks like this game doesn't exist. </h2>
        <button  pButton type="button" label="Go back to game list" [routerLink]="'/home'"></button>
    </div>

    <div class="cc-play-page" *ngIf="!(game===null)" style="width:80%">

        <p-steps [model]="items" [readonly]="false"></p-steps>
        

        <button  pButton type="button" label="Go back to game list" [routerLink]="'/home'"></button>
    </div>


</div>
