<div class="cc-column-layout">

    <div class="cc-error-404 flex-column justify-content-center" *ngIf="game===null"  >
        <h2> It looks like this game doesn't exist. </h2>
        <button  pButton type="button" label="Go back to game list" [routerLink]="'/home'"></button>
    </div>


    <div *ngIf="!(game===null)">
        <!-- Header&testing-->
        <div>
            <h1>msg: {{newMsg}}</h1>
            <h1> Playing game {{this.gameName}}</h1>
            <h4> ID: {{this.gameId}} </h4>
        </div>

        <!-- Upload screen -->
        <div *ngIf="currStep==0" class="upload cc-column-layout surface-card shadow-2 border-round w-12 flex-column">    
            <div class="flex justify-content-center">
                <h2> Match setup</h2>
            </div>     
            <div class="grid formgrid p-fluid"> <!--"grid formgrid p-fluid w-7">-->
                <div class="field mb-4 col-12 ">
                    <label for="fileuploader" class="font-medium text-900">Upload bot</label>
                    <div class="true-input-button">
                        <input  id="fileuploader" type="file" class="file-upload" (change)="fileUpload($event)" #fileUploader></div>
                    <div class="flex align-content-center align-items-baseline">
                        <button pRipple class="p-element p-ripple w-auto mt-3 p-button p-component" pbutton="" (click)="fileUploader.click()">Upload</button>
                        <div class="m-4">{{currProgramName}}</div>
                    </div>
                    <div><small class="p-error" *ngIf="!uploadData.program && submitted">You need to upload your program file.</small></div>
                </div>                        

                <div class="field mb-4 col-12">
                    <p-selectButton [options]="stateOptions" [(ngModel)]="uploadData.programType" optionLabel="label" optionValue="value"></p-selectButton>
                </div>


                <div class="field mb-4 col-12" *ngIf="hasPassword">
                    <label for="password" class="font-medium text-900">Match password</label>
                    <input #password="ngModel" id="password" type="text" required pInputText [(ngModel)]="uploadData.password" [ngClass]="{'ng-dirty': (password.invalid && submitted) || (password.dirty && password.invalid)}">
                    <small class="p-error" *ngIf="(password.invalid && submitted) || (password.dirty && password.invalid)">Password is required for this game.</small>
                </div>


                <div class="field mb-4 col-12">
                    <label for="parameters" class="font-medium text-900">Parameters</label>
                    <textarea id="parameters" type="text" pinputtextarea="" rows="5" class="p-inputtextarea p-inputtext p-component p-element p-inputtextarea-resizable" style="height: 132px; overflow: hidden;"></textarea>
                </div>


                <div class="col-12">
                    <button pRipple (click)="navigateToPlay()" pbutton="" pripple="" label="Start match!" class="p-element p-ripple w-auto mt-3 p-button p-component"><span class="p-button-label">Start match!</span><span class="p-ink"></span></button>
                </div>
            </div>
        </div>
        <button pButton class="p-button-secondary p-button-outlined" type="button" label="Go back to game list" [routerLink]="'/home'" style="margin:30px"></button>

    </div>



</div>

