/* You can add global styles to this file, and also import other style files */
$layout-padding: 2rem;

* {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

pre{
    font-family: monospace;
}

button{
    border: 1px #fff solid;
    border-radius: 3px;
    background-color: #333;
}

button:hover{
    background-color: #444;
}

button:active{
    border: 1px #aaa  solid;
    color: #aaa;
}


body, html, app-root{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    color: white;
    background-color: #333;
}


p{
    margin:0;
}

/*
div.cc-column-layout {
    width:800px;
    max-width:100vw;
    margin:0 auto;
    padding:$layout-padding;
}

div.cc-center-layout {
    padding: $layout-padding;
    min-height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
*/